/* --------------------------------------------------------------------- */
/* Common Styling
/* --------------------------------------------------------------------- */
/*FONT*/
@font-face {
  font-family: 'NanumBarunGothic';
  src:  url('../fonts/nanum/NanumBarunGothic.eot');
  src:  url('../fonts/nanum/NanumBarunGothic.woff') format('woff'), 
        url('../fonts/nanum/NanumBarunGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  src:  url('../fonts/nanum/NanumGothic.eot');
  src:  url('../fonts/nanum/NanumGothic.woff') format('woff'), 
        url('../fonts/nanum/NanumGothic.ttf') format('truetype');
}

body {
  font-family: 'NanumGothic';
  color: #615F69;
}

a.mute {
  color: inherit;
}



/* --------------------------------------------------------------------- */
/* HELPER CLASS
/* --------------------------------------------------------------------- */
@for $i from 0 through 200 {
  .w#{$i * 2} {
    width: #{$i * 2px};
  }
}


@for $i from 0 through 20 {
  .f#{$i * 2} {
    font-size: #{$i * 2px};
  }
}


@for $i from 0 through 40 {
  .mb#{$i * 2} {
    margin-bottom: #{$i * 2px};
  }
}


@for $i from 0 through 40 {
  .mr#{$i * 2} {
    margin-right: #{$i * 2px};
  }
}


@for $i from 0 through 40 {
  .pt#{$i * 2} {
    padding-top: #{$i * 2px};
  }
}

/* --------------------------------------------------------------------- */
/* NAV BAR
/* --------------------------------------------------------------------- */
.navbar-brand {
  font-size: 26px;
}
